*.log
.DS_Store
.env
.env.backup
.env.production
.env.local
.env.*.local
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/logs/*.log
/storage/app/public
/storage/app/uploads
/bootstrap/cache/*.php
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
*.sqlite
*.sqlite-shm
*.sqlite-wal
/database/database.sqlite
*.zip
*.tar.gz
npm-debug.log
yarn-error.log
